<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="https://i.ibb.co/9bvfZWB/lightkicks.jpg">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <title>Add Snowboard</title>
</head>

<body>

  <%- include('partials/_header'); %>

    <% if (currentUser.is_admin) { %>
      <main style="margin: 1em;">
        <h3 class="addsnowboard-title">Add Snowboard</h3>
        <div class="add-snowboard-form-container">
          <!-- Form Starts -->
          <form class="add-snowboard-form" method="POST" action="/addListing">
            <div class="form-group">
              <input name="title" placeholder="Board Name" class="form-control" rows="3"></input>
            </div>
            <div class="form-group">
              <textarea name="description" placeholder="Description" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label>Add a thumbnail photo URL</label>
              <input name="thumbnail_url" type="text" class="form-control-file">
            </div>
            <div class="form-group">
              <label>Add a main photo URL</label>
              <input name="photo_url" type="text" class="form-control-file">
            </div>
            <div class="form-group">
              <input name="brand" placeholder="Brand" class="form-control"></input>
            </div>
            <div class="row">
              <div class="col">
                <input name="size" type="number" min="1" class="form-control" placeholder="Size">
              </div>
              <div class="col">
                <input name="price" type="number" min="1" class="form-control" placeholder="Price">
              </div>
            </div>
            <div class="row featured-row">
              <label>Mark as featured</label>
              <select name="feature">
                <option selected>Featured</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>

            </div>
            <button type="submit" class="btn btn-primary btn-add-snowboard">Submit</button>
          </form>
        </div>
        <% } %>
      </main>

      <footer class="footer" style="position: fixed;">
        <div class="content has-text-centered">
          <p>
            <strong>SnowShop</strong> by <a>Andre Moura, Eli Colussi and Jorge Vera</a>.
            <a>Copyright @ 2023 All Rights Reserved</a>.
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
          </p>
        </div>
      </footer>
</body>

</html>
